#tour {
	position: relative;
	.white-title {
		position: relative;
		margin-left: 9vw;
	}
	button {
		float: right;
		top: 4.4vh;

		right: 9vw;
	}
	height: 90vh;
	width: 100vw;

	align-content: center;
}
