@use '_colors';
@use '_fonts';
@use '_hero';
@use '_releases';
@use '_footer';
@use '_socials';
@use '_tour';
@use '_videos';
@use '_store';
@use '_photos';
@use '_subscribe';
@mixin title($title: White) {
	align-self: center;
	font-family: fonts.$main-font;
	color: rgba(255, 255, 255, 0.0001);
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: $title;
	// height: 10vh;

	font-style: normal;
	font-weight: 800;
	letter-spacing: 14px;
}

@mixin hover($rollBg: colors.$mbYellow, $rollFont: colors.$black) {
	&:hover {
		border: solid 1px $rollFont;
		background-color: $rollBg;
		color: $rollFont;
	}
}
@mixin button(
	$bg: colors.$mbYellow,
	$font: colors.$black,
	$rollBg: colors.$black,
	$rollFont: colors.$mbYellow
) {
	height: 42px;

	// position: absolute;
	border-radius: 21px;
	border-style: none;
	background-color: $bg;
	color: $font;
	// display: flex;
	// align-items: center;
	justify-content: center;

	transition: all 0.5s ease-out 100ms;
	@include hover($rollBg: $rollBg, $rollFont: $rollFont);

	font-family: fonts.$main-font;
}
.white-title {
	@include title;
	font-size: 28px;
}

.black-title {
	@include title($title: colors.$black);
}
.black-button {
	@include button(
		$bg: colors.$black,
		$font: colors.$mbYellow,
		$rollBg: colors.$mbYellow,
		$rollFont: colors.$black
	);
	font-size: 28px;
}
* {
	box-sizing: border-box;
	text-transform: uppercase;
	font-family: fonts.$main-font;
}
button {
	@include button;
	position: relative;
	bottom: 0px;
	width: 220px;
	font-size: 20px;
}
[type='submit'] {
	margin: auto;
	@include button;
	position: relative;
	bottom: 0px;
	width: 220px;
	font-size: 20px;
	margin-bottom: 20px;
}
header {
	z-index: 2;

	height: 134px;
}
#logo {
	z-index: 3;
	position: absolute;

	width: calc(min(30vw, 169px));

	height: calc(min(23.8vw, 134px));
	left: 4vh;
	top: 24px;
}
nav {
	z-index: 3;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	text-align: right;

	position: absolute;
	width: 40%;
	height: 22px;
	top: 47px;
	right: 50px;
	justify-content: space-around;
	a {
		font-family: fonts.$main-font;
		font-weight: 800;
		font-size: calc(Math.min(Math.max(8vw, 8px), 18px));
		// line-height: 80px;
		color: colors.$black;
		text-decoration: none;

		&:hover {
			color: colors.$mbYellow;
			font-size: calc(Math.min(Math.max(8.2vw, 14px), 20px));
			-webkit-text-stroke-width: 1px;
			-webkit-text-stroke-color: black;
		}
	}
}
main {
	position: relative;
}
#app {
	z-index: 2;
}
html {
	margin: 0;
}
body {
	// position: relative;
	// height: 100%;
	// width: 100%;
	margin: 0;
	.test {
		font-family: fonts.$font-highlight;
		font-size: 20px;
		line-height: 1;
		letter-spacing: 3.33333px;
		line-break: auto;
	}
	z-index: -2;
	height: 100%;
	width: 100%;
	position: relative;
	background-color: colors.$mbGrey;
	&::before {
		z-index: -1;
		position: absolute;
		background-image: url('/images/Mask.png');
		opacity: 0.4;
		content: '';
		background-size: cover;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
	}
}

footer {
	background-color: colors.$black;
	@include footer.footer();
	color: colors.$mbYellow;

	a {
		color: colors.$mbYellow;
		&:hover {
			color: colors.$white;
		}
	}
}

@media only screen and (min-width: 500px) {
	.black-title,
	.white-title {
		font-size: min(9vh, 70px);
	}
	.heroFont {
		font-size: min(57px, 7vh);
	}
	.containers {
		flex-flow: row wrap;
	}
	#photos {
		height: 100vh;
		top: -8vh;
		section {
			width: 80%;
			flex-flow: row wrap;
			img {
				width: 15vw;
				height: 15vw;
			}
		}
	}
	.heroInfo {
		max-width: 50%;
		bottom: 0px;
	}
	.heroImg {
		height: 100%;
		max-width: 50%;
	}
	.carousel {
		top: 48px;
	}
	button {
		width: 220px;
		font-size: 20px;
	}
	#calendar {
		flex-flow: row wrap;
	}
	.itin {
		width: 40%;
	}
	.youtube-big {
		width: 56vw;
		position: relative;
	}
	.store {
		top: 0px;
		section {
			width: 22vw;
			img {
				height: 22vw;
				width: 100%;
			}
		}
	}
	#drops {
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;
		align-items: flex-start;
		width: 100%;
		div {
			border: none;
		}
	}
	#calendar {
		height: 50%;
	}
}
@media only screen and (min-height: 500px) {
	#releases,
	#store {
		height: fit-content;
	}
}
