@use '_colors';
@use '_fonts';
@use '_hero';

@mixin title($title: White) {
	font-family: fonts.$main-font;
	color: rgba(255, 255, 255, 0.0001);
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
	height: 84px;
	font-size: 35px;
	font-style: normal;
	font-weight: 800;
	letter-spacing: 14px;
	text-transform: uppercase;
}

@mixin hover($rollBg: colors.$mbYellow, $rollFont: colors.$black) {
	&:hover {
		border: solid 1px $rollFont;
		background-color: $rollBg;
		color: $rollFont;
	}
}
@mixin button(
	$bg: colors.$mbYellow,
	$font: colors.$black,
	$rollBg: colors.$black,
	$rollFont: colors.$mbYellow
) {
	height: 42px;
	width: 220px;
	// position: absolute;
	border-radius: 21px;
	border-style: none;
	background-color: $bg;
	color: $font;
	// display: flex;
	// align-items: center;
	justify-content: center;
	text-transform: uppercase;
	transition: all 0.5s ease-out 100ms;
	@include hover($rollBg: $rollBg, $rollFont: $rollFont);
	font-size: 20px;
	font-family: fonts.$main-font;
}
.white-title {
	@include title;
}

.black-title {
	@include title($title: colors.$black);
}
.black-button {
	@include button(
		$bg: colors.$black,
		$font: colors.$mbYellow,
		$rollBg: colors.$mbYellow,
		$rollFont: colors.$black
	);
}
button {
	@include button;
	position: absolute;
	bottom: 0px;
}

header {
	z-index: 2;
	#logo {
		position: absolute;
		width: 169px;
		height: 134px;
		left: 50px;
		top: 24px;
	}
	height: 134px;
}
nav {
	display: flex;
	align-items: center;
	text-align: right;
	text-transform: uppercase;
	position: absolute;
	width: 584px;
	height: 22px;
	left: 806px;
	top: 47px;
	justify-content: space-around;
	a {
		text-transform: uppercase;
		font-family: fonts.$main-font;
		font-weight: 800;
		font-size: 18px;
		line-height: 80px;
		color: colors.$black;
	}
}
main {
	position: relative;
}
body {
	background-color: colors.$mbYellow;
	.test {
		font-family: fonts.$font-highlight;
		font-size: 20px;
		p {
			line-height: 0px;
		}
		letter-spacing: 3.33333px;
	}
}
