@import url("http://fonts.googleapis.com/css2?family=Sen:wght@400&display=swap");
@import url("http://fonts.googleapis.com/css2?family=Sen:wght@800&display=swap");
@import url("http://fonts.googleapis.com/css2?family=Sen:wght@700&display=swap");
@import url("http://fonts.googleapis.com/css2?family=Sedgwick Ave:wght@400&display=swap");
.rollTitle {
  font-family: Sen, sans-serif;
  color: white;
  font-weight: 800;
  font-size: min(11vh, 24px);
}

.rollArtist {
  font-family: Sen, sans-serif;
  color: white;
  font-size: min(7.5vh, 16px);
}

.dl {
  font-weight: 800;
  font-family: Sen, sans-serif;
  color: #f6c82a;
  font-size: min(10vh, 20px);
}

#hero {
  background-color: #f6c82a;
  height: 100vh;
}

.carousel {
  position: relative;
  top: 48px;
  height: calc(100vh - 182px);
}
.carousel button {
  position: relative;
}

.heroInfo {
  z-index: 2;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  top: 0;
  bottom: 36px;
  width: 50%;
}

.heroFont {
  position: relative;
  min-height: 150px;
  bottom: 36px;
  font-family: Sen;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 0.8;
  /* or 88% */
  line-break: auto;
  align-items: center;
}

.containers {
  margin: auto;
  position: relative;
  width: 83%;
  height: 100%;
}

.back-button,
.forward-button {
  color: #000000;
  background-color: #000000;
  cursor: pointer;
  position: absolute;
  top: 90%;
  width: auto;
  background-color: #000000;
}
.back-button:hover,
.forward-button:hover {
  color: wheat;
}

.heroImg {
  float: right;
  position: relative;
  left: min(10%, 0);
  top: max(-15%, -8vh);
  height: 100%;
}
.heroImg img {
  max-height: 100%;
  max-width: 100%;
}

#releases {
  position: relative;
  top: 0;
  height: 100vh;
  width: 100vw;
  align-content: center;
}
#releases .white-title {
  position: relative;
  top: 7vh;
  margin-left: 9vw;
}
#releases button {
  float: right;
  top: 4.4vh;
  right: 9vw;
}
#releases::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 62%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.09);
  content: "";
}

#albums {
  padding-top: 5vh;
  margin: auto;
  width: max(70vw, 300px);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.album-column {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  width: 50%;
  min-width: 200px;
  flex-basis: 1;
}

.smAlbums {
  display: flex;
  flex-flow: row wrap;
  width: 50%;
}

.main-release {
  position: relative;
  width: 100%;
  padding: 5px;
}

.small-album {
  position: relative;
  width: 100%;
  padding: 5px;
}

.main-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  line-height: min(10vh, 20px);
  background-color: #121212;
  position: absolute;
  z-index: 3;
}

.overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: -0.5;
  width: 50%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
  line-height: min(5vh, 10px);
  background-color: #121212;
  position: absolute;
  z-index: 3;
}

#socials {
  z-index: 2;
  position: absolute;
  right: 51px;
  height: max(33vh, 200px);
  top: 33vh;
  display: flex;
}
#socials ul {
  height: 100%;
  flex-flow: column wrap;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#tour {
  position: relative;
  height: 90vh;
  width: 100vw;
  align-content: center;
}
#tour .white-title {
  position: relative;
  margin-left: 9vw;
}
#tour button {
  float: right;
  top: 4.4vh;
  right: 9vw;
}

@media screen only and (min-width: 500px) {
  .black-title,
.white-title {
    font-size: 9vh;
  }

  .heroFont {
    font-size: min(57px, 7vh);
  }
}
.white-title {
  align-self: center;
  font-family: Sen, sans-serif;
  color: rgba(255, 255, 255, 0.0001);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: White;
  height: 10vh;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 14px;
}

.black-title {
  align-self: center;
  font-family: Sen, sans-serif;
  color: rgba(255, 255, 255, 0.0001);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000000;
  height: 10vh;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 14px;
}

.black-button {
  height: 42px;
  width: 220px;
  border-radius: 21px;
  border-style: none;
  background-color: #000000;
  color: #f6c82a;
  justify-content: center;
  transition: all 0.5s ease-out 100ms;
  font-size: 20px;
  font-family: Sen, sans-serif;
}
.black-button:hover {
  border: solid 1px #000000;
  background-color: #f6c82a;
  color: #000000;
}

* {
  box-sizing: border-box;
  text-transform: uppercase;
  font-family: Sen, sans-serif;
}

button {
  height: 42px;
  width: 220px;
  border-radius: 21px;
  border-style: none;
  background-color: #f6c82a;
  color: #000000;
  justify-content: center;
  transition: all 0.5s ease-out 100ms;
  font-size: 20px;
  font-family: Sen, sans-serif;
  position: relative;
  bottom: 0px;
}
button:hover {
  border: solid 1px #f6c82a;
  background-color: #000000;
  color: #f6c82a;
}

header {
  z-index: 2;
  height: 134px;
}

#logo {
  z-index: 3;
  position: absolute;
  width: calc(min(30vw, 169px));
  height: calc(min(23.8vw, 134px));
  left: 4vh;
  top: 24px;
}

nav {
  z-index: 3;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  text-align: right;
  position: absolute;
  width: 40%;
  height: 22px;
  top: 47px;
  right: 50px;
  justify-content: space-around;
}
nav a {
  font-family: Sen, sans-serif;
  font-weight: 800;
  font-size: calc(Math.min(Math.max(8vw, 8px), 18px));
  color: #000000;
}

main {
  position: relative;
}

#app {
  z-index: 2;
}

body {
  z-index: -2;
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #121212;
}
body .test {
  font-family: Sedgwick Ave, cursive;
  font-size: 20px;
  letter-spacing: 3.33333px;
}
body .test p {
  line-height: 0px;
}
body::before {
  z-index: -1;
  position: absolute;
  background-image: url("/images/Mask.png");
  opacity: 0.4;
  content: "";
  background-size: cover;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

footer {
  background-color: #000000;
  color: #f6c82a;
}
footer ul {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}
footer a {
  color: #f6c82a;
}
footer a:hover {
  color: #ffffff;
}
