@import url("http://fonts.googleapis.com/css2?family=Sen:wght@400&display=swap");
@import url("http://fonts.googleapis.com/css2?family=Sen:wght@800&display=swap");
@import url("http://fonts.googleapis.com/css2?family=Sen:wght@700&display=swap");
@import url("http://fonts.googleapis.com/css2?family=Sedgwick Ave:wght@400&display=swap");
.rollTitle {
  font-family: Sen, sans-serif;
  color: white;
  font-weight: 800;
  font-size: 16px;
  line-height: 0.8;
}

.rollArtist {
  font-family: Sen, sans-serif;
  color: white;
  font-size: 12px;
  line-height: 0.8;
}

.dl {
  font-weight: 800;
  font-family: Sen, sans-serif;
  color: #f6c82a;
  font-size: 14px;
  line-height: 0.8;
}

.date,
.vid-artist {
  color: white;
  font-family: Sedgwick Ave, cursive;
  font-size: min(2.5vh, 14px, 2.5vw);
}

legend {
  color: white;
  font-family: Sedgwick Ave, cursive;
  font-size: min(4.5vh, 28px, 4.5vw);
}

.price {
  color: black;
  font-family: Sedgwick Ave, cursive;
  font-size: min(2.5vh, 14px, 2.5vw);
}

.venue {
  color: white;
  font-family: Sen, sans-serif;
  font-size: min(4.5vh, 28px, 4.5vw);
  font-weight: 800;
}

.product-name {
  color: black;
  font-family: Sen, sans-serif;
  font-size: min(4.5vh, 28px, 4.5vw);
  font-weight: 800;
}

.video-title {
  font-family: Sen, sans-serif;
  color: white;
  font-weight: 800;
  font-size: min(7vh, 7vw, 30px);
  line-height: 0.8;
}

.city {
  color: white;
  font-size: min(3vh, 16px, 3vw);
  font-family: Sen, sans-serif;
}

.tour-actions {
  font-size: min(2vh, 12px, 2vw);
  font-weight: 800;
  color: #f6c82a;
  display: flex;
  align-items: center;
}
.tour-actions a {
  color: #f6c82a;
  text-decoration-line: none;
  list-style-type: none;
}

@media screen and (min-width: 500px) and (min-height: 500px) {
  .rollTitle {
    font-size: min(11vh, 24px);
  }

  .rollArtist {
    font-size: min(7.5vh, 16px);
  }

  .dl {
    font-size: min(10vh, 20px);
  }
}
#hero {
  background-color: #f6c82a;
  height: 100vh;
}

.carousel {
  position: relative;
  top: 36px;
  height: calc(100vh - 182px);
}
.carousel button {
  position: relative;
  bottom: 0;
}

.heroInfo {
  z-index: 2;
  display: flex;
  flex-direction: column;
  position: relative;
  align-self: center;
  justify-content: center;
  top: 0;
  bottom: 36px;
  width: 50%;
  justify-content: end;
}

.heroFont {
  position: relative;
  margin-top: -20px;
  font-family: Sen;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 0.8;
  /* or 88% */
  line-break: auto;
  align-items: center;
}

.containers {
  display: flex;
  flex-flow: column-reverse wrap;
  margin: auto;
  position: relative;
  width: 83%;
  height: 100%;
}

.back-button,
.forward-button {
  color: #000000;
  background-color: #000000;
  cursor: pointer;
  position: absolute;
  top: 90%;
  width: auto;
  background-color: #000000;
}
.back-button:hover,
.forward-button:hover {
  color: wheat;
}

.heroImg {
  float: right;
  position: relative;
  left: min(10%, 0px);
  top: max(-15%, -8vh);
  align-self: center;
  max-height: 70vh;
}
.heroImg img {
  max-height: 100%;
  max-width: 100%;
}

#releases {
  position: relative;
  height: max-content;
  padding: 2vh 0 8vh 0;
  top: -24px;
  width: 100vw;
  align-content: center;
}
#releases .white-title {
  position: relative;
  margin-left: 9vw;
}
#releases button {
  position: relative;
  float: right;
  top: 4.4vh;
  right: 9vw;
}
#releases::before {
  position: absolute;
  left: 0;
  width: 62%;
  background-color: rgba(255, 255, 255, 0.09);
  content: "";
  height: 104vh;
}

#albums {
  margin: 5vh auto 0;
  position: relative;
  width: max(70vw, 300px);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.album-column {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  max-width: 40%;
  min-width: 200px;
  flex-basis: 1;
}

.smAlbums {
  display: flex;
  flex-flow: row wrap;
  width: 50%;
}

.main-release {
  position: relative;
  width: 100%;
  padding: 5px;
}

.small-album {
  position: relative;
  width: 100%;
  padding: 5px;
}

.main-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  line-height: min(10vh, 20px);
  background-color: #121212;
  position: absolute;
  z-index: 3;
}

.overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: -0.5;
  width: 50%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
  line-height: min(5vh, 10px);
  background-color: #121212;
  position: absolute;
  z-index: 3;
}

#socials {
  z-index: 2;
  position: absolute;
  right: 51px;
  height: max(33vh, 200px);
  top: 33vh;
  align-self: center;
  display: flex;
}
#socials ul {
  height: 100%;
  flex-flow: column wrap;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#tour {
  top: 0px;
  padding: 4vh 0;
  background-color: black;
  position: relative;
  height: 90vh;
  width: 100vw;
  align-items: center;
  line-height: 0.9;
}
#tour .white-title {
  position: relative;
  margin-left: 9vw;
}
#tour button {
  float: right;
  top: 8vh;
  right: 9vw;
}

.itin {
  width: 70%;
  display: flex;
  flex-flow: row wrap;
  background-color: black;
  margin: 5px;
  z-index: 1;
  position: relative;
  justify-content: center;
  margin: auto;
  max-height: 18vh;
}
.itin::before {
  content: "";
  height: 2px;
  position: absolute;
  top: 99%;
  left: 0;
  right: 0;
  padding-bottom: 3px;
  background: linear-gradient(to right, black 10%, #f6c82a 50%, black 90%);
}

#calendar {
  position: relative;
  bottom: -4vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.itin-details {
  position: relative;
  justify-content: start;
  flex-basis: 1;
}
.itin-details p {
  margin: 5px;
}

.tour-actions {
  position: relative;
  flex-basis: 1.5;
}
.tour-actions ul {
  display: flex;
  flex-flow: row nowrap;
  margin: 0;
  padding: 0;
}
.tour-actions ul li {
  padding: 10px;
}
.tour-actions ul a:hover {
  color: white;
}

#videos {
  position: relative;
}
#videos .white-title {
  margin-left: 9vw;
  position: relative;
}

.video-slider {
  overflow-x: hidden;
  display: flex;
  flex-flow: row nowrap;
  width: 100vw;
}

.youtube-big {
  width: 75vw;
  height: min(50vh, 45vw);
  position: relative;
}

.video-slide {
  position: relative;
}

.overlay-content {
  display: flex;
  z-index: 3;
  position: absolute;
  top: 0%;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
}

#under-video {
  width: 100vw;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  margin: 5vh auto;
}

#video-caption {
  padding: 0;
  align-items: flex-start;
  display: flex;
  flex-flow: column wrap;
  max-width: 60%;
}

.video-title {
  padding: 0;
  margin: 0;
}

.nav-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 3vw;
  width: 8vw;
}

#store {
  background-color: #f6c82a;
  height: 100vh;
  width: 100vw;
  padding: 0 0 8vh 0;
  position: relative;
}
#store .black-title {
  top: 20px;
  position: relative;
  margin-left: 9vw;
}
#store button {
  float: right;
  right: 9vw;
}

.store {
  position: relative;
  top: 20px;
  display: flex;
  flex-flow: row wrap;
  width: 80%;
  margin: auto;
  justify-content: space-around;
}
.store section {
  width: 300px;
  display: flex;
  align-items: flex-start;
  flex-flow: column nowrap;
}
.store section h2 {
  margin: 0;
}
.store section img {
  width: 100%;
  height: 300px;
}

#photos {
  box-sizing: border-box;
  background-color: black;
  height: fit-content;
  width: 100vw;
  position: relative;
  padding: 0 0 8vh 0;
  top: -4vh;
}
#photos .white-title {
  top: 20px;
  position: relative;
  margin-left: 9vw;
}
#photos section {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  margin: auto;
  justify-content: center;
}
#photos section img {
  width: 300px;
  height: 300px;
  margin: auto;
}
#photos button {
  top: 20px;
  position: relative;
  float: right;
  padding-bottom: 2vh;
  right: 9vw;
}

#subscribe {
  display: flex;
  position: relative;
  flex-flow: column wrap;
  align-items: flex-start;
  margin-left: 8vw;
  height: 100%;
  color: white;
}
#subscribe .white-title {
  align-self: start;
  position: relative;
}
#subscribe form {
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
}
#subscribe [type=email] {
  color: #f6c82a;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 2px solid #f6c82a;
  width: 100%;
}
#subscribe ::placeholder {
  color: #f6c82a;
}
#subscribe #drops {
  display: flex;
  width: 100%;
  padding-bottom: 20px;
}
#subscribe #drops div {
  width: 50%;
}
#subscribe fieldset {
  border: 0;
  padding: 2vh 0 0 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  font-size: small;
}
#subscribe [type=checkbox] {
  vertical-align: middle;
  width: 10px;
}
#subscribe a {
  color: #f6c82a;
}
#subscribe a:hover {
  color: black;
  font-size: calc(Math.min(Math.max(8.2vw, 14px), 20px));
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #f6c82a;
}

.white-title {
  align-self: center;
  font-family: Sen, sans-serif;
  color: rgba(255, 255, 255, 0.0001);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: White;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 14px;
  font-size: 28px;
}

.black-title {
  align-self: center;
  font-family: Sen, sans-serif;
  color: rgba(255, 255, 255, 0.0001);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000000;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 14px;
}

.black-button {
  height: 42px;
  border-radius: 21px;
  border-style: none;
  background-color: #000000;
  color: #f6c82a;
  justify-content: center;
  transition: all 0.5s ease-out 100ms;
  font-family: Sen, sans-serif;
  font-size: 28px;
}
.black-button:hover {
  border: solid 1px #000000;
  background-color: #f6c82a;
  color: #000000;
}

* {
  box-sizing: border-box;
  text-transform: uppercase;
  font-family: Sen, sans-serif;
}

button {
  height: 42px;
  border-radius: 21px;
  border-style: none;
  background-color: #f6c82a;
  color: #000000;
  justify-content: center;
  transition: all 0.5s ease-out 100ms;
  font-family: Sen, sans-serif;
  position: relative;
  bottom: 0px;
  width: 220px;
  font-size: 20px;
}
button:hover {
  border: solid 1px #f6c82a;
  background-color: #000000;
  color: #f6c82a;
}

[type=submit] {
  margin: auto;
  height: 42px;
  border-radius: 21px;
  border-style: none;
  background-color: #f6c82a;
  color: #000000;
  justify-content: center;
  transition: all 0.5s ease-out 100ms;
  font-family: Sen, sans-serif;
  position: relative;
  bottom: 0px;
  width: 220px;
  font-size: 20px;
  margin-bottom: 20px;
}
[type=submit]:hover {
  border: solid 1px #f6c82a;
  background-color: #000000;
  color: #f6c82a;
}

header {
  z-index: 2;
  height: 134px;
}

#logo {
  z-index: 3;
  position: absolute;
  width: calc(min(30vw, 169px));
  height: calc(min(23.8vw, 134px));
  left: 4vh;
  top: 24px;
}

nav {
  z-index: 3;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  text-align: right;
  position: absolute;
  width: 40%;
  height: 22px;
  top: 47px;
  right: 50px;
  justify-content: space-around;
}
nav a {
  font-family: Sen, sans-serif;
  font-weight: 800;
  font-size: calc(Math.min(Math.max(8vw, 8px), 18px));
  color: #000000;
  text-decoration: none;
}
nav a:hover {
  color: #f6c82a;
  font-size: calc(Math.min(Math.max(8.2vw, 14px), 20px));
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

main {
  position: relative;
}

#app {
  z-index: 2;
}

html {
  margin: 0;
}

body {
  margin: 0;
  z-index: -2;
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #121212;
}
body .test {
  font-family: Sedgwick Ave, cursive;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 3.33333px;
  line-break: auto;
}
body::before {
  z-index: -1;
  position: absolute;
  background-image: url("/images/Mask.png");
  opacity: 0.4;
  content: "";
  background-size: cover;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

footer {
  background-color: #000000;
  padding: 1vh 0;
  color: #f6c82a;
}
footer ul {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}
footer a {
  color: #f6c82a;
}
footer a:hover {
  color: #ffffff;
}

@media only screen and (min-width: 500px) {
  .black-title,
.white-title {
    font-size: min(9vh, 70px);
  }

  .heroFont {
    font-size: min(57px, 7vh);
  }

  .containers {
    flex-flow: row wrap;
  }

  #photos {
    height: 100vh;
    top: -8vh;
  }
  #photos section {
    width: 80%;
    flex-flow: row wrap;
  }
  #photos section img {
    width: 15vw;
    height: 15vw;
  }

  .heroInfo {
    max-width: 50%;
    bottom: 0px;
  }

  .heroImg {
    height: 100%;
    max-width: 50%;
  }

  .carousel {
    top: 48px;
  }

  button {
    width: 220px;
    font-size: 20px;
  }

  #calendar {
    flex-flow: row wrap;
  }

  .itin {
    width: 40%;
  }

  .youtube-big {
    width: 56vw;
    position: relative;
  }

  .store {
    top: 0px;
  }
  .store section {
    width: 22vw;
  }
  .store section img {
    height: 22vw;
    width: 100%;
  }

  #drops {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
  }
  #drops div {
    border: none;
  }
}
@media only screen and (min-height: 500px) {
  #releases,
#store {
    height: fit-content;
  }
}
